In [2]:
list1 = ['a','A',1,2,2.3,1.1223,True]
print(list1)

['a', 'A', 1, 2, 2.3, 1.1223, True]

In [6]:
#list items can be of any data type and can be a duplicate

In [10]:
list2 = [[1,2,3,4],['a','b','c']]
list2    #list in list also works

[[1, 2, 3, 4], ['a', 'b', 'c']]

In [12]:
type(list2)

list

In [34]:
list3 = [1,2,3,4,5,6]
print(max(list3))
print(min(list3))
print(sum(list3))   #sum of all the values dont work for strings
print(1 in list3)   #states the true or false
print(8 in list3)

6
1
21
True
False

In [24]:
list4 = ['a','b','c','d']
print(max(list4))
print(min(list4))

d
a

In [46]:
a11 =(list3+list4)   #lists can be joined but we have to store in a variable

In [48]:
print(a11)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd']

In [54]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]

In [66]:
for i in a11:
    print(i,end=' ')

1 2 3 4 5 6 a b c d

In [70]:
for i in range(len(list1)):
    print(i,list1[i])

0 1
1 2
2 3
3 4
4 5

In [76]:
list11 = ['apple','ball','cat','ab','cd']
for i in range(len(list11)):
    if len(list11[i])<=3:
        print(list11[i])

cat
ab
cd

In [100]:
list11 = ['app#le','ball','ca#t','ab','cd']
for i in range(len(list11)):
    for a in list11[i]:
        if a == '#':
            print(list11[i])

app#le
ca#t

In [112]:
list12 = [1,2,3,['apple','ball']]
list12[3][1]

'ball'

In [116]:
list11 = ['apple','ball','cat','ab','cd']
list11[1]=100
print(list11)

['apple', 100, 'cat', 'ab', 'cd']

In [122]:
list11 = ['app#le','ball','ca#t','ab','cd']
list11[1:3]

['ball', 'ca#t']

In [124]:
list11 = ['app#le','ball','ca#t','ab','cd']
list11[::-1]

['cd', 'ab', 'ca#t', 'ball', 'app#le']

In [126]:
list11 = ['app#le','ball','ca#t','ab','cd']
list11[::2]

['app#le', 'ca#t', 'cd']

In [128]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [154]:
list1 = [1,2,3,4,5,6,7]
list2 = list1.copy()    #to copy one list items to another list
print(list2)

[1, 2, 3, 4, 5, 6, 7]

In [156]:
list1.append(8)   #append used to add elements to the list
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [160]:
print(list1.append(9))  #we cant add 2 items at once but we can add a list
print(list1)

None
[1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [162]:
print(list1.append([11,12]))

None

In [164]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, [11, 12]]

In [168]:
list12 = [1,2,3,4,5]
output=[]
for i in list12:
    output.append(i*i)  #we create an empty list and append the values into it
print(output)

[1, 4, 9, 16, 25]

In [174]:
list13 = ['hyd','bngl','delhi']
out = []
for i in range(len(list13)):
    out.append(list13[i].capitalize())     #we have to get the capital letter in the starting

print(out)

['Hyd', 'Bngl', 'Delhi']

In [176]:
list13 = ['hyd','bngl','delhi']
out = []
for i in list13:
    out.append(i.capitalize())     #we have to get the capital letter in the starting

print(out)

['Hyd', 'Bngl', 'Delhi']

In [178]:
list14 = ['h#yd','b#ngl','delhi']
for i in range(len(list14)):
    for a in list14[i]:
        if a=='#':
            print(list14[i])

h#yd
b#ngl

**list comprehension**

In [189]:
list15 = [1,2,3,4,5,6]
output = []
for i in list15:
    output.append(i*i)
print(output)  

#can also be written as this 

out = [i*i for i in list15]
print(out)

[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]

In [203]:
list13 = ['hyd','bngl','delhi']
out = []
for i in list13:
    out.append(i.capitalize())    

print(out)

#this can be written as 
outp = [i.capitalize() for i in list13]
print(outp)

['Hyd', 'Bngl', 'Delhi']
['Hyd', 'Bngl', 'Delhi']

In [199]:
#create a list of 1 to 20 numbers 
num = []
for i in range(1,21):
    num.append(i)

print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [231]:
list15 = ['abcd','abc','ab','a']
for i in range(len(list15)):
    if len(list15[i])<3:
        print(list15[i])

ab
a

In [227]:
list12 = [1,2,3,4,5,6,7]
out =[]
for i in list12:
    if i%2==0:
        out.append("even:{}".format(i))
    else:
        out.append("odd:{}".format(i))

print(out)

#can also be written as 

out1 = ["even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in list12]
print(out1)

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6', 'odd:7']
['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6', 'odd:7']

In [237]:
list12 = [1,2,3,4,5,'a','b','c','a','b','a']
print("the count of 'a': ",list12.count('a'))   #counts the value's presentation

the count of 'a':  3

In [243]:
list1 = ['a','b','c']
list2 = [1,2,3,4,5]
list1.extend(list2)
list1     #it extends the list values

['a', 'b', 'c', 1, 2, 3, 4, 5]

In [249]:
val = reversed('python')
for i in val:
    print(i,end=" ")

n o h t y p

In [255]:
val2 = reversed('12345')
for i in val2:
    print(i,end="")

54321

In [280]:
list12 = [1,2,3,4,5,'p','y','t','h','o','n']
list12.pop()
list12           #default it pops the last value

[1, 2, 3, 4, 5, 'p', 'y', 't', 'h', 'o']

In [282]:
list12.pop(1)    #here 1 is the index

2

In [284]:
list12

[1, 3, 4, 5, 'p', 'y', 't', 'h', 'o']

In [286]:
list12.remove('p')   #it removes the value that is given

In [288]:
list12

[1, 3, 4, 5, 'y', 't', 'h', 'o']

In [294]:
del list12[4]  #it removes the value based on the index value

In [296]:
list12

[1, 3, 4, 5, 'h', 'o']

In [306]:
list12.index('o')    #ffinds the index of the value in the list

7

In [304]:
list12.insert(1,'p')   #it takes the index and the value to be inserted

In [302]:
list12

[1, 'p', 3, 4, 5, 'h', 'o']

In [314]:
list13 = [1,5,3,0,7,9]
list12 = sorted list13
print(list12)

SyntaxError: invalid syntax (4035631878.py, line 2)

In [312]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.